* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.2;
}

header {
    width: 100%;
    background-color: #255ee9;
}

.head {
    width: calc((100% - 1.5rem) /3);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding-top: 1rem;
}

.logo {
    max-width: 6rem;
}

.menù ul {
    list-style: none;
    margin-left: 1rem;
}

.menù li {
    display: inline-block;
    margin-left: 1.5rem;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: white;
}

.button {
    padding: .6em;
    line-height: .6em;
    background-color: white;
    text-decoration: none;
    border-radius: 25%;
    color: black;
    text-align: center;
    font-size: .8rem;
    font-weight: bold;
}

.image {
    width: 100%;
}

.jumbo {
    background-size: cover;
}

.full-screen {
    position: relative;
}

.section-top {
    max-width: 40%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.description {
    color: white;
    vertical-align: middle;
    text-align: center;
}

.one {
    font-size: 3rem;
    margin-bottom: 3rem;
}

.two {
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

.section-bottom ul {
    list-style: none;
}

.section-bottom li {
    display: inline-block;
    margin-right: 10px;
}

.section-bottom {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}

.download {
    padding: 1em;
    line-height: 1.5em;
    border-radius: 10em;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    display: inline-block;
}

.download.mac {
    background-color: white;
    color: black;
    font-size: 1rem;
}

.download.browser {
    background-color: black;
    color: white;
    font-size: 1rem;
}

i{
    margin-right: .5rem;
    font-size: .9rem;
}

.content {
    margin: 0 auto;
    /* width: 80%; */
    height: 500px;
}

.col {
    display: inline-block;
}

.col.col-left {
    width: 60%;
    position: relative;
}

.col.col-right {
    width: calc((100% - 60%) /2);
    position: relative;
    
}

.image-1 {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
}
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -5%);
}

.main-text.top {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.main-text.bottom {
    font-size: .8rem;
    line-height: 1.5rem;
}

.content-two {
    margin: 0 auto;
    /* width: 80%; */
    height: 500px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #f6f6f6;
}

.col.col-right-middle {
    position: relative;
    width: calc((100% - 35%) /2);
}

.col.col-left-middle {
    position: relative;
    width: 35%;
}

.image-2 {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -10%);
}

.text-two {
    margin: 0 auto;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-15%, -10%);
}

.col.col-left-bottom {
    position: relative;
    width: 55%;
}

.col.col-right-bottom {
    position: relative;
    width: calc((100% - 55%) /2);
}

.image-3 {
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -15%);
}

.text-three {
    margin: 0 auto;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -20%);
}

.container {
    text-align: center;
    background-color: #f6f6f6;
}

.spot {
    margin: 0 auto;
    width: 65%;
}

.slogan {
    font-size: 1.2rem;
    background-image: url(../img/stars.svg);
    background-size: 35%;
}

.download.mac-two {
    margin: 25px;
    background-color: #8abce7;
}

footer {
    width: 100%;
    height: 300px;
    background-color: #23272a;
}

.foot {
    margin: 40px auto;
    width: 70%;
    padding-top: 40px;
}

.ita {
    width: 18px;
}

.column.icon {
    width: 30%;
    /* float: left; */
}

.column .first {
    color: #7fb2e3;
}

ul {
    list-style: none;
}

.column li {
    color: white;
    line-height: 2rem;
}

.column {
    width: calc((100% - 30%) /5);
    display: inline-block;
    float: left;
}

.item {
    color: white;
    margin-right: 5px;
}

.footer::after {
    display: '';
    display: table;
    clear: both;
}

.footer-bottom {
    width: 100%;
    height: 100px;
    background-color: #23272a;
    border-top: 1px solid #8abce7;;
}

.logo-foot {
    padding-top: 20px;
    float: left;
    margin-left: 40px;
}

.sign {
    float: right;
    margin-right: 50px;
    background-color: #8abce7;;
    padding: 1em;
    line-height: 1em;
    border-radius: 10em;
    text-align: center;
    vertical-align: middle;
    margin-top: 10px;
}




